<main class="projectContainer container">
    <div class="project_title_container project_title_border">
        <h1>Project</h1>
    </div>
    <div class="project_main_container">
        {{#each projects as |project|}}
        <div class="card project_content_container">
            <p class="card-header">{{project.dataValues.title}} - Created by {{project.dataValues.user.dataValues.name}}
                on {{format_date project.dataValues.date_created}}</p>
            <div class="card-body">
                {{#each project.dataValues.tasks as |task|}}
                <p class="card-title">{{task.title}}
                    {{#if task.is_complete}}
                    - Complete
                    {{else}}
                    - In Progress
                    {{/if}}
                </p>
                <p class="card-text">{{task.description}}</p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse{{project.dataValue.id}}"
                    data-bs-target="#collapse{{project.dataValues.id}}" aria-expanded="false">
                    Show Comments
                </button>

                <div class="collapse" id="collapse{{project.dataValues.id}}">
                    <div class="card card-body">
                        {{#each task.dataValues.comments as |comment|}}
                        {{comment.comment}} from {{comment.user.name}} on {{format_date comment.date_created}}
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</main>